* {
  margin: 0;
  padding: 0;
   }

html {
  font-size: 90%;
}

body {
  background-color: #EB96AB;
}

.main {
  background-color: #F6CFD9;
  padding: 3rem;
  width: 65%;
  margin: 3.5rem auto 0 auto;
  min-height: 500px;
}

.red {
  background-color: #DD4F72;
  color: #00f0b5;
}

.green {
  background-color: #00f0b5;
  color: #DD4F72;
}

.button {
  font-size: 2rem;
  margin: 15px;
  padding: 5px;
  width: 100px;
  text-align: center;
  text-transform: capitalize;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.75);
}

a {
  text-decoration: none;
}

p {
  margin: 10px;
}
